@import "null.css";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

body {
	font-family: Lato;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	padding: 30px;
}
h6 {
	color: #1e212c;
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin: 0 0 8px 0;
}
h1 {
	color: #1e212c;
	font-weight: 900;
	font-size: 46px;
	line-height: 59px;
	margin: 0 0 40px 0;
}

ul {
	max-width: 390px;
	max-height: 294px;
	margin: 0 0 48px 0;
}
.list li::before {
	background: url("../img/list.png") 0 2px / 15px no-repeat;
	padding: 0 0 0 32px;
	content: "";
}
.list li {
	color: #424551;
	font-size: 16px;
	line-height: 25px;
	padding: 0 0 12px 0;
}
.link {
	color: #fff;
}
.button {
	display: inline-block;
	text-align: center;
	font-weight: 700;
	font-size: 14px;
	width: 161px;
	height: 44px;
	background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
	border-radius: 4px;
	padding: 15px 0 0 0;
}
.button:hover {
	display: inline-block;
	margin: 1px 0px 0px 0px;
	box-shadow: 0 5px 0 0 #999;
}
.button:active {
	margin: 4px 0 0 0;
	box-shadow: 0 0 0 0 #000, inset 0 0 5px 0 #000;
}
